body {
    margin: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    background: url('http://wallpapercraze.com/images/wallpapers/CRminecraftghost-42382.jpeg') no-repeat center 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #ecf0f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
nav .nav-hidden {
    width: 0 !important;
}

nav li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

nav li a.active {
    background-color: #ea6051;
    color: white;
}

nav li a:hover:not(.active) {
    background-color: #bdc3c7;
    color: white;
}

#nav-button {
    z-index: 1000;
    position: absolute;
    bottom: 50%;
    left: 5px;
    color: #ea6051;
    font-size: 15px;
    font-weight: bold;
    border: none;
    text-decoration: none;
    background-color: transparent;
    outline: none;
}

#content {
    height: 100%;
}

#content:not(.nav-hidden) {
    margin-left: 15%;
}